@import "tailwindcss";

@theme {
    --color-background: #ffffff; /* Fundo claro */
    --color-backgound-alt: #e5e7eb; /* Fundo claro alternativo */
    --color-primary: #Fd7e93; /* Rosa Claro*/

    --color-textPrimary: #000000; /* Preto */
    --color-textSecondary: #ffffff; /* Cinza */
    --color-textTertiary: #4b5563; /* Cinza claro */
    --color-textQuaternary: #9ca3af; /* Branco */
}

[data-theme="dark"] {
    --color-background: #1a1a1a; /* Fundo escuro */
}

[data-theme="red"] {
    --color-background: #1a1a1a; /* Fundo escuro */
}


